@model Barna_Valentina_Proiect_Pies.Models.LibraryViewModels.RetailerIndexData

@{
    ViewData["Title"] = "Index";
}

<h1>Retailers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Retailer Name</th>
            <th>Adress</th>
            <th>Pies</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Retailers)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["RetailerID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.RetailerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adress)
                </td>

                <td>
                    @{
                        foreach (var pie in item.RetailedPies)
                        {
                            @pie.Pie.ID @: @pie.Pie.Name <br />
                        }
                    }
                </td>
                <td>
                    <a asp-action="Index" asp-route-id="@item.ID">Select</a> |
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    </table>
@if (Model.Pies != null)
{
    <h3>Retailed Pies by Selected Retailer</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Short Description</th>
            <th>Price</th>
        </tr>
        @foreach (var item in Model.Pies)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["PieID"]) { 

            selectedRow = "success";
        }
        <tr class="@selectedRow">
            <td>
                @Html.ActionLink("Select", "Index", new { pieID = item.ID })
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.ShortDescription
            </td>
            <td>
                @item.Price
            </td>
        </tr>
        }
        </table>
        }
        @if (Model.Orders != null)
        {
            <h3>
                Customers that have ordered the Selected Pie
            </h3>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Order Date</th>
                </tr>
                @foreach (var item in Model.Orders)
                {
                    <tr>
                        <td>
                            @item.Customer.Name
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderDate)
                        </td>
                    </tr>
                }
            </table>
        }
